ConfigInterface, #scrollWidget {
    background-color: transparent;
}

QScrollArea {
    border: none;
    background-color: transparent;
}


/* 标签 */
QLabel#settingLabel {
    font: 28px 'Microsoft YaHei';
    background-color: transparent;
    color: white;
}

QLabel {
    font: 14px 'Segoe UI', 'Microsoft YaHei', 'PingFang SC';
    color: white;
}

/*
#view {
    background: rgba(255, 255, 255, 0.667);
    border: 1px solid rgba(0, 0, 0, 0.073);
}
*/